aniso8601==9.0.1
anyio==3.6.2
appdirs==1.4.4
APScheduler==3.9.1
argon2-cffi==21.1.0
asciinema==2.2.0
asgiref==3.6.0
asttokens==2.2.1
attrs==22.2.0
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.11.2
beniget==0.4.1
bleach==5.0.1
blinker==1.5
Brlapi==0.8.4
Brotli==1.0.9
bytecode==0.14.0
cachetools==5.2.0
certifi==2022.9.24
chardet==5.1.0
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
configobj==5.0.8
construct==2.10.68
contourpy==1.0.7
coverage==6.5.0
cryptography==38.0.4
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.3.2
debugpy==1.6.3+git20221103.a2a3328
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
distro==1.8.0
distro-info==1.5+deb12u1
dnspython==2.3.0
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
email-validator==1.3.0
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.3
feedparser==6.0.10
filelock==3.9.0
Flask==2.2.2
Flask-RESTful==0.3.9
fonttools==4.38.0
fs==2.4.16
gast==0.5.2
gpg==1.18.0
gyp==0.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==0.16.3
httplib2==0.20.4
httpx==0.23.3
hyperframe==6.0.0
idna==3.3
ipykernel==6.17.0
ipython==8.5.0
ipython_genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jsonpointer==2.3
jsonschema==4.10.3
jupyter-console==6.4.4
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2
kiwisolver==0.0.0
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
louis==3.24.0
lxml==4.9.2
lz4==4.0.2+dfsg
mailnag==2.2.0
Mako==1.2.4.dev0
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mnemonic==0.19
mpmath==0.0.0
musicbrainzngs==0.7.1
mutagen==1.46.0
mypy-extensions==0.4.3
nbclient==0.7.2
nbconvert==6.5.3
nbformat==5.5.0
nest-asyncio==1.5.4
nose==1.3.7
notebook==6.4.12
numpy==1.24.2
oauthlib==3.2.2
olefile==0.46
opentimestamps==0.4.2
packaging==23.0
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==2.6.0
ply==3.11
prometheus-client==0.16.0
prompt-toolkit==3.0.36
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.0.0
py==1.11.0
pycairo==1.20.1
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.45.2
pydevd==2.9.5
pyelftools==0.29
Pygments==2.14.0
PyGObject==3.42.2
pyinotify==0.9.6
PyJWT==2.6.0
pyOpenSSL==23.0.0
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-sip==12.11.1
pyrsistent==0.18.1
PySimpleSOAP==1.16.2
pysmbc==1.0.23
python-apt==2.6.0
python-bitcoinlib==0.11.2
python-dateutil==2.8.2
python-debian==0.1.49
python-debianbts==4.0.1
python-dotenv==0.21.0
python-telegram-bot==13.15
pythran==0.11.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyxattr==0.8.1
pyxdg==0.28
PyYAML==6.0
pyzmq==24.0.1
quodlibet==4.5.0
reportbug==12.0.0
requests==2.28.1
requests-toolbelt==0.10.1
rfc3986==1.5.0
rfc3987==1.3.8
rich==13.3.1
scipy==1.10.1
Send2Trash==1.8.1b0
sgmllib3k==1.0.0
simplejson==3.18.3
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2
stack-data==0.6.2
sympy==1.11.1
telegram-send==0.34
terminado==0.17.0
terminator==2.1.2
texttable==1.6.7
tinycss2==1.2.1
tornado==6.2
traitlets==5.5.0
typing-inspect==0.8.0
typing_extensions==4.4.0
tzlocal==4.2
ufoLib2==0.14.0
uritemplate==4.1.1
urllib3==1.26.12
urwid==2.1.2
virtualenv==20.17.1+ds
wadllib==1.3.6
wcwidth==0.2.5
webcolors==1.11.1
webencodings==0.5.1
websocket-client==1.2.3
websockets==10.4
Werkzeug==2.2.2
widgetsnbextension==2.0.0
xdg==5
yt-dlp==2023.3.4
